body{
	background-image:url('https://bookswap.northwestern.edu/dev/img/grid.png');
}
.container{
	box-shadow: 0px 1px 4px 2px;
	background:#FFFFFF;
}

#front-logo{
	width:70%;
}
.student-posts{
	float:left;
	margin-left:10px;
}
.sell-yours,.edit-yours{
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
	float:left;
}
.result{
	margin-bottom:20px;
	padding:10px;
}
#results{
	margin-top:40px;
}

#front-submit{
	margin-left:10px;
	margin-top:4px;
	margin-bottom:13px;
}
#front-search{
	line-height: 18px;
	font-size: 18px;
	height:30px;
}
#postform div{
	padding-bottom: 20px;
}
.cover{
	float:left;
}
.book-cover{
	height:160px;
	width:128px;
}
.info{
	float:left;
	margin-left: 10px;
}
.book-info{
	float:left;
	margin-left:0px !important;
}
.price-info{
	float:left;
}
.posting{
	margin:10px 0;
}
.navbar .btn{
	margin-left:10px;
}
.navbar input{
	margin-left:10px !important;
}
footer{
	margin-top:40px;
	margin-bottom:40px;
}
.result{
	border: 1px solid black;
}
#notes{
	resize:none;
}
#search-query{
	margin-top: 30px;

}
.title{
	margin-top: 0px !important;
}
.post-del-btn{
	position: relative;
	float:right;
	top: 0%;
	right: 0%;
}
.account-settings{
	padding-top: 100px;
}
.no-sellers{
	margin-left:0px !important;
}
.header-notice{
	margin-top:10px;
	font-size: 18px;
	color:white;
}
#search-box a:hover{
	text-decoration: none;
}
#search-box a:focus{
	outline:none;
}
#search-box{
	position:relative;
}
#howto-icon{
	position:absolute;
	top:0%;
	right: 31%;
}