<IfModule mod_rewrite.c>
  RewriteEngine On

  # Modify the RewriteBase if you are using BookSwap in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example, if your site is at http://example.com/bookswap uncomment and
  # modify the following line:
  # RewriteBase /bookswap

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>